body {
color: #80C0CE; /* бледно голубой */
color: #4d7694; /* темно синий */
color: #222831; /* чорни */
color: #393E46; /* темно серый */
color: #EEEEEE; /* почти белый */
}

body { color: 
"Какие основные функции доступны?"
"Как оплатить и какие способы оплаты поддерживаются?"
"Как связаться с поддержкой?"
"Какие данные вы собираете?"
"Можно ли удалить свой аккаунт и данные?"
"Можно ли связаться напрямую с разработчиками?"
"Как предложить идею или функцию?""
}