<!DOCTYPE html>

<html>
    <head>
        {% include "components/links.html" %}
    </head>

    <body>
        {% include "components/header.html" %}
        <main>
            <div id="about-table">    
                <h1 id="article-title">About us</h1>
                <div class="boldtext">Mails</div> 
                weebucks2@gmail.com - creator
                <br>
                pronya@profull.app - host
                <div class="boldtext">Github</div>
                <a href="https://github.com/triple-raze">https://github.com/triple-raze</a> - Owners github
                <br>
                <a href="https://github.com/triple-raze/dest">https://github.com/triple-raze/dest</a> - Repository of this project
            </div>
        </main>
        {% include "components/footer.html" %}
    </body>
</html>



<style>

#about-table {
    width: 40vw;
}

</style>